<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Spring Chat</title>

    <script>

        const nickName = sessionStorage.getItem("nickname");    // 닉네임

        document.addEventListener("DOMContentLoaded", function(){

            const input = document.getElementById("messageInput");
            input.addEventListener("keydown", function(e) {
                if (e.key === "Enter") {
                    sendMessage();
                }
            });
        });

        let params = new URLSearchParams();

        const wsProtocol = location.protocol === "https:" ? "wss" : "ws";
        const wsUrl = `${wsProtocol}://${location.host}/ws/chat`;
        const ws = new WebSocket(wsUrl);
        //const ws = new WebSocket("ws://localhost:8080/ws/chat"); // 로컬 실행환경에서만 작동
        ws.onopen = () => console.log("connected");

        ws.onmessage = (e) => {
            const div = document.getElementById("messages");
            div.innerHTML += `<div>${e.data}</div>`;
            div.scrollTop = div.scrollHeight;
        };

        function sendMessage() {
            const input = document.getElementById("messageInput");
            if (ws.readyState === WebSocket.OPEN && input.value) {
                ws.send(nickName + " : " + input.value);
                input.value = "";
            }
        }

    </script>
</head>
<body>
<h2>WebSocket Chat</h2>

<div id="messages" style="border:1px solid #ccc; height:200px; overflow:auto;"></div>

<input type="text" id="messageInput" placeholder="메시지 입력"/>
<button id="sendMessage" onclick="sendMessage()">전송</button>

</body>
</html>